@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    padding: 8px;
    background-color: #003049;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grid {
    border: 8px #EAE2B7 solid;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid__row {
    flex: 1;
    display: flex;
}

.grid__col {
    width: 50px;
    height: auto;
    background-color: #fcc0499b;
    flex: 1;
}

.sketchpad-btn {
    border: none;
    background-color: #FCBF49;
    padding: 4px;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.sketchpad-btn:hover {
    cursor: pointer;
    background-color: #fcc0499b;
    color: #EAE2B7;
}
